[packages]
Flask = "==2.0.1"
flask-smorest = "==0.31.2"
marshmallow_enum = "==1.5.1"
python-dotenv = "==0.18.0"
coloredlogs = "==15.0.1"
flask-cors = "==3.0.10"

[dev-packages]
black = "*"
#pytest = "*"
#pytest-cov = "*"
#pytest-mock = "*"

[[source]]
url = "https://pypi.org/simple/"
verify_ssl = true
name = "pypi"

[requires]
python_version = "3.9"
